.nav-wrapper .nav-search {
  color: white;
}

.nav-wrapper .nav-search:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.section-title {
  text-align: center;
  color: white;
}


iframe.lancamentos {
  margin-top: 2rem;
  height: 35vh;
  width: 36vw;
}

.movie-info {
  text-align: initial;
  color: white;
}

.brand-logo {
  margin-left: 1vw;
}

.movie-poster {
  width: 100%;
  max-height: auto;
}


.select-dropdown.dropdown-trigger {
  color: white !important;
  border-bottom-color: #d50000 !important;
}

iframe.entrevistas {
  width: 100%;
  height: 30vh;
}
